input, 
textarea, 
select {
    background-color: var(--input-base);
    appearance: none;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid transparent;
    outline: 1px solid var(--input-stroke);

    padding: .75rem 1rem;

    font: var(--text);
}