input[type="radio"] {
    display: none;
}

#description {
    height: 8.5rem;
    text-wrap: wrap;
}

#about {
    .radio-wrapper {
        background-color: var(--input-base);
        border: 1px solid var(--input-stroke);
        border-radius: 8px;
        padding: .25rem;

        .radio-inner {
            width: 8.125rem;
            span {
                padding-left: .5rem;
            }

            label {
                display: flex;
                flex-direction: row;
                margin: 0;
                padding: .65625rem;
                width: 100%;
                height: 100%;
                align-items: center;

                svg {
                    width: 1.25rem;
                    height: 1.25rem;
                }
            }
            
            &:has(:checked){
                background-color: var(--input-stroke);
                border-radius: 5px;
                path {
                    fill: var(--brand-light);
                }
            }
        }
    }
}

#color-picker{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0 1.75rem;

    .radio-inner {
        background-image: url(../../assets/color-default.svg);
        background-repeat: no-repeat;
    
        &:hover, &:focus-within{
            background-image: url(../../assets/color-hover.svg);
            background-repeat: no-repeat;
        }
    
        &:has(:checked){
            background-image: url(../../assets/color-selected.svg);
            background-repeat: no-repeat;
        }
    }
}

#theme-picker {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    text-align: center;
    margin-top: 1rem;

    .radio-inner {
        background-color: var(--shape-button);
        border: 2px solid #ffffff00;
        border-radius: 12px;
        justify-content: center;
    
        img {
            padding: 4px;
            border-radius: 12px;
            width: 8rem;
        }

        &:hover, &:focus-within{
            background-color: var(--shape-hover);
            border: 2px solid #ffffff00;
        }

        &:has(:checked){
            border: 2px solid var(--brand-light);
        }
    }
}

#checkbox-drop {
    position: relative;
    padding-top: 8.625rem;
    gap: 1rem;
}

.checkbox-inner {
    display: flex;
    flex-direction: row;
    gap: .5rem;

    align-items: center;
    padding-top: .5rem;

    width: 12rem;

    #light{
        display: none;
    }

    &:has(:checked){
        input{
            background-image: url(../../assets/bright.svg);
        }

        #light{
            display: flex;
        }
        #dark{
            display: none;
        }
    }
}

.checkbox-inner > input{
    appearance: none;
    padding: 1rem 2rem;

    background-image: url(../../assets/dark.svg);
    background-repeat: no-repeat;
}

/* Drop zone */
#wallpap {
    display: flex;
}

#fotocap {
    color: var(--text-body);
    font: 400 var(--body-sm);
}


.docfile {
    padding-top: .5rem;
    display: flex;
    align-items: center;
    gap: .75rem;
    position: relative;

    .docinpt {
        cursor: pointer;
        z-index: 1;
        background-color: var(--shape-button);
        height: 2.5rem;

        display: flex;
        align-items: center;
        padding: .75rem;
        gap: .5rem;
        border-radius: .5rem;
        font: 400 var(--body-sm);
        color: var(--text-head);

&:hover {
    background-color: var(--shape-hover);

& svg path {
    stroke: var(--brand-light);
}

}

}


& input {
    all: unset;
&::file-selector-button {
    display: none;
}
    font: 400 var(--body-md);
    color: var(--input-placeholder);
}



}

.error {
    padding-top: .25rem;
    gap: .5rem;
    align-items: center;
    text-justify: center;
    img{
        height: 1rem;
    }
    span{
        font: var(--text-sm);
        color: var(--danger);
        fill: var(--danger);    
    }
}

.required {
    #name {
        outline: 1px solid var(--danger);
    }

    & > input:not(:placeholder-shown) + .error {
        display: none;
    }
    & > #name:not(:placeholder-shown) {
        outline: 1px solid var(--input-stroke);
    }
    & > input:focus + .error {
        display: none;
    }
    & > #name:focus {
        outline: 1px solid var(--input-stroke);
    }
}

#footer {
    margin: .25rem;
    .button-wrapper {
        margin-top: 1.5rem;
        display: flex;
        justify-content: end;

    }

    button {
        display: flex;
        padding: .5rem 1rem;
        border-radius: .25rem;
        background-color: var(--brand-light);
        color: var(--shape-body);
        border: none;
        cursor: pointer;

        align-items: center;
        gap: .5rem;
        font: var(--heading-md);
        color: var(--text-color-heading)
    }
}

.terms-wrapper {
    position: relative;
    gap: .5rem;
    padding: .25rem 0;

    & [type="checkbox"]{
        flex: 0 0 1.5rem;
        height: 1.5rem; 
        width: 1.5rem;
        position: absolute;
        appearance: none;
    }

    & > img {
        position: absolute;
        height: 1.5rem;
        display: none;      
    }

    .terms-background {
        flex: 0 0 1.5rem;
        height: 1.5rem;
        background-color: var(--input-base);
        border-radius: .25rem;
        border: 1px solid var(--input-stroke);
    }

    &:has(:checked) .terms-background{
        border: 1px solid var(--brand-light);
    }

    &:has(:checked) img {
        display: flex;      
    }

    a {
        color: var(--brand-light);
    }
}

