input[type="radio"] {
    display: none;
}

#color-picker{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;

    .radio-inner {
        background-image: url(../../assets/color-default.svg);
        background-repeat: no-repeat;
    
        &:hover, &:focus-within{
            background-image: url(../../assets/color-hover.svg);
            background-repeat: no-repeat;
        }
    
        &:has(:checked){
            background-image: url(../../assets/color-selected.svg);
            background-repeat: no-repeat;
        }
    }
}

#theme-picker {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: .5rem;
    align-items: center;
    text-align: center;

    .radio-inner {
        background-color: var(--shape-button);
        border: 2px solid #ffffff00;
        border-radius: 12px;
        justify-content: center;
    
        img {
            padding: 4px;
            border-radius: 12px;
        }

        &:hover, &:focus-within{
            background-color: var(--shape-hover);
            border: 2px solid #ffffff00;
        }

        &:has(:checked){
            border: 2px solid var(--brand-light);
        }
    }
}

#checkbox-drop {
    position: relative;
    padding-top: 8.625rem;
}

.checkbox-inner {
    display: flex;
    flex-direction: row;

    align-items: center;
    padding: .5rem 0;
    gap: .75rem;
    
    #light{
        display: none;
       
    }

    &:has(:checked){
        input{
            background-image: url(../../assets/bright.svg);
        }

        #light{
            display: flex;
        }
        #dark{
            display: none;
        }
    }
}

.checkbox-inner > input{
    appearance: none;
    padding: 1rem 2rem;

    background-image: url(../../assets/dark.svg);
    background-repeat: no-repeat;
}

.drop-wrapper{
    position: absolute;
    left: 14.25rem;
}

.dropzone {
    margin: .5rem 0;
    justify-content: start;
    position: relative;

    input {
        position: absolute;
        width: 100%;
        height: 100%;
        inset: 0;
        opacity: 0;
    }
}

#footer {
    margin: .25rem;
    .button-wrapper {
        margin-top: 1.5rem;
        display: flex;
        justify-content: end;

    }

    button {
        display: flex;
        padding: .5rem 1rem;
        border-radius: .25rem;
        background-color: var(--brand-light);
        color: var(--shape-body);
        border: none;
        cursor: pointer;

        align-items: center;
        gap: .5rem;
        font: var(--heading-md);
        color: var(--text-color-heading)
    }
}

.terms-wrapper {
    position: relative;
    gap: .5rem;
    padding: .25rem 0;

    & [type="checkbox"]{
        flex: 0 0 1.5rem;
        height: 1.5rem; 
        width: 1.5rem;
        position: absolute;
        appearance: none;
    }

    & > img {
        position: absolute;
        height: 1.5rem;
        display: none;      
    }

    .terms-background {
        flex: 0 0 1.5rem;
        height: 1.5rem;
        background-color: var(--input-base);
        border-radius: .25rem;
        border: 1px solid var(--input-stroke);
    }

    &:has(:checked) .terms-background{
        border: 1px solid var(--brand-light);
    }

    &:has(:checked) img {
        display: flex;      
    }

    a {
        color: var(--brand-light);
    }
}

