* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    /* colors variables */
    --brand-light: #59B2FF;
    --brand-mid: #3487CF;
    --brand-dark: #1D6FB6;

    --danger: #FF5959;

    --input-base: #1C1F21;
    --input-stroke: #363B40;
    --input-placeholder: #869198;

    --shape-background: #131516;
    --shape-body: #212427;
    --shape-button: #2D3136;
    --shape-hover: #383D42;

    --text-color-body: #C8CDD0;
    --text-color-heading: #F9F9F9;

    /* font variables */
    --font-family: "Open Sans", serif;
    --text-md: 400 1rem var(--font-family);
    --text-sm: 400 0.875rem var(--font-family); 
    --text-sm: 400 0.75rem var(--font-family);
    color: var(--text-color-body);
}

.cursive {
    font-family: "Leckerli One", serif;
    font-weight: 400;
    font-size: 2.5rem;
    color: #FF598B;
}