#app {
    display: grid;
    grid-template-columns: 27% 73%;
    height: 100vh;
    overflow: hidden;

    background-color: var(--shape-background);
    padding: 20px;
}

aside {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: inherit;

    border-radius: .75rem;
    padding: 2rem 2rem;
    margin-right: .625rem;

    font: var(--text-md);

    img {
        height: 3rem;
        margin-bottom: 1rem;
    }

    div{
        padding-bottom: .25rem;
    }
}

main {
    background-color: var(--shape-body);
    border-radius: 12px;
    padding: 80px 130px;
    margin-left: 10px;

    overflow: auto;
}

#bar {
    border: 1px solid var(--shape-button);
    margin-bottom: 2.78125rem;
}