#app {
    display: grid;
    grid-template-columns: 20fr 41fr;
    height: 100vh;
    overflow: hidden;

    background-color: var(--shape-background);
    padding: 20px;
}

aside {
    background-image: url(../assets/Background.png);
    background-repeat: no-repeat;
    background-size: cover;

    border-radius: 12px;
    padding: 32px 32px;
    margin-right: 10px;

    font: var(--text-md);

    img {
        height: 3rem;
        margin-bottom: 16px;
    }

    div{
        padding-bottom: 4px;
    }
}

main {
    background-color: var(--shape-body);
    border-radius: 12px;
    padding: 80px 130px;
    margin-left: 10px;

    overflow: auto;
}