.main-container {
    font: var(--text-sm);

    & > h1 {
        color: var(--text-color-heading);
        font: var(--headind-md);
        text-align: start;
        margin-bottom: 40px;
    }

    fieldset {
        border: none;
        margin-bottom: 3rem;
    }

    legend {
        margin-bottom: 1.5rem;

        display: flex;
        color: var(--text-color-heading);
        font: var(--headind-sm);
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
       
        img {
            margin-right: 12px;
            height: 24px;
        }
    }
    
    .input-wrapper {
        display: flex;
        flex-direction: column;

        label {
            margin: 14px;
        }
    }

}

#about, #contact-info {
    input {
        background-color: var(--input-base);
        width: 100%;
        border-radius: .5rem;
        border: 2px solid transparent;
        outline: 1px solid var(--input-stroke);

        padding: .75rem 1rem;

        font: var(--text-sm);

        color: var(--text-sm);
    }
}